@import 'styles/variables.scss';
@import 'styles/fonts.scss';

.profile-page {
  margin-top: 10rem;
  padding: 0 5rem;
  @media only screen and (min-width: $min-width-screen-xl) {
    max-width: $max-width-container !important;
  }

  .profile-wrap {
    border-radius: 1rem;
    border: 1px solid $color-border-light-gray;
  }
}
