@mixin font_base($size, $weight: normal, $style: normal) {
  font-style: $style !important;
  font-weight: $weight !important;
  font-size: $size !important;
}

/*
*Suffixes font-weight*
- l: light = 300
- md: medium = 500
- sb: semi bold = 600
- b: bold = 700
- eb: extra bold = 800
- h: heavy = 900
 */

.font--14 {
  @include font_base(0.875rem);
}

.font--14sb {
  @include font_base(0.875rem, 600);
}

.font--15sb {
  @include font_base(0.9375rem, 600);
}

.font--16b {
  @include font_base(1rem, 700);
}

.font--48eb {
  @include font_base(3rem, 800);
}
