@mixin font_base($size, $weight: normal, $style: normal) {
  font-style: $style !important;
  font-weight: $weight !important;
  font-size: $size !important;
}

.font--14 {
  @include font_base(14px);
}

.font--14b {
  @include font_base(14px, 600);
}

.font--15b {
  @include font_base(15px, 600);
}

.font--16b {
  @include font_base(16px, 700);
}
