@import './fonts.scss';
@import './margin.scss';
@import './variables.scss';

//MUI custom css
@import './mui/common.scss';
@import './mui/button.scss';
@import './mui/menu.scss';
@import './mui/text-field.scss';
@import './mui/select.scss';

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media only screen and (max-width: $max-screen-lg) {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
