$max-width-layout: 1920px;
$min-width-screen-xl: 1536px;
$max-width-container: 1650px;
$max-screen-lg: 1200px;
$max-screen-md: 992px;

// Color Variables
$color-black: #000000;
$color-black-blue: rgb(52, 71, 103);
$color-sub-black: #6b7280;
$color-sub-black1: #1b1b1b;
$color-body-black: #424242;
$color-white: #ffffff;
$color-background: #ebfbff;
$color-background-gray: rgb(240, 242, 245);
$color-text-main: #333333;
$color-text-secondary: #e3e3e3;
$color-brand-blue-dark: #003282;
$color-brand-light-blue: #d7f5ff;
$color-brand-light-blue-border: #d5ecf3;
$color-blue-light: #acc2e4;
$color-blue-light1: #8edffa;
$color-button-hover: #0075e0;
$color-primary: #2f80ed;
$color-button: #008eff;
$color-brand-orange: #f4b302;
$color-green: #00e07e;
$color-brand-green: #c6f8d9;
$color-brand-yellow-light: #fff4cd;
$color-brand-yellow-light-boder: #f3e9c6;
$color-text-sub-1: rgba(51, 51, 51, 0.8);
$color-text-sub-2: #b2bebe;
$color-text-sub-3: #999;
$color-gray-border: #dbdbdb;
$color-border-light-gray: #ebebeb;
$color-background-light-gray: #f3f3f3;
$color-gray-light: #e3e9ec;
$color-success: #5cb85c;
$color-error: #d32f2f;

// margin/padding
$space-unit: 20px;
$space-XXS: 0.5 * $space-unit;
$space-XS: 1 * $space-unit;
$space-S: 1.5 * $space-unit;
$space-MS: 2 * $space-unit;
$space-M: 2.5 * $space-unit;
$space-ML: 3 * $space-unit;
$space-L: 3.5 * $space-unit;
$space-LL: 4 * $space-unit;
$space-XL: 4.5 * $space-unit;
$space-XXL: 5 * $space-unit;
$space-XXXL: 6 * $space-unit;
$space-XXXXL: 7 * $space-unit;
