@import 'styles/variables.scss';
@import 'styles/fonts.scss';
@import '../shared/styles/card-name.style.scss';
@import 'styles/pages.scss';

.pricing-page {
  @media only screen and (min-width: $min-width-screen-xl) {
    max-width: $max-width-container !important;
  }

  @extend .onc-page;
  margin-top: 13rem;
  margin-bottom: 5rem;

  .title {
    margin: 0 auto;
    max-width: 50rem;

    h1 {
      @extend .font--48eb;
      text-align: center;
    }

    h3 {
      @extend .font--32b;
      text-align: center;
    }
  }

  .pricing-list {
    width: 100%;

    .pricing-switching {
      display: flex;
      align-items: center;
    }
  }

  .compare-features-list {
    width: 100%;

    .card-name-compare {
      text-align: center;

      .name {
        @extend .card-name;

        h6 {
          padding: 1.5rem 0;
          @extend .font--16b;
        }
      }
    }
  }

  .questions {
    width: 100%;
    padding: 0 15rem;
  }
}
