@import 'styles/variables.scss';
@import 'styles/fonts.scss';

.main-layout {
  .title {
    margin: 0 auto;
    max-width: 42rem;

    h1 {
      text-align: center;
      @extend .font--48eb;
    }
  }

  .pricing-board {
    .pricing-switching {
      display: flex;
      align-items: center;
    }
  }

  .pricing-card-list {
    padding: 0px $space-XXXL 0px $space-XXXL;
  }
}
