@import 'styles/variables.scss';
@import 'styles/fonts.scss';

.admin-home {
  background-color: $color-background-gray;
  margin-left: 240px;
  width: 100%;
  padding: $space-MS;

  .header {
    display: flex;
    width: 100%;

    svg,
    p {
      color: $color-black-blue;
    }

    .right-section {
      margin-left: auto;
    }
  }

  .card-info {
    @extend .font--14;
    border-radius: 1rem;
    padding: $space-XS;
    background-color: $color-white;
    color: $color-sub-black;
    width: 30%;
    position: relative;

    .title {
      .icon {
        top: -20px;
        left: 20px;
        width: 70px;
        height: 70px;
        position: absolute;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
        box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem,
          rgb(64 64 64 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;

        svg {
          color: $color-white;
        }

        &.--user {
          background: linear-gradient(
            195deg,
            rgb(73, 163, 241),
            rgb(26, 115, 232)
          );
        }

        &.--revenue {
          background: linear-gradient(
            195deg,
            rgb(102, 187, 106),
            rgb(67, 160, 71)
          );
        }

        &.--follower {
          background: linear-gradient(
            195deg,
            rgb(236, 64, 122),
            rgb(216, 27, 96)
          );
        }
      }
      text-align: right;

      p:nth-of-type(2) {
        @extend .font--24b;
        color: $color-black-blue;
      }
    }

    span {
      color: rgb(76, 175, 80);
    }
  }

  .chart-wrapper {
    width: 50%;
    border-radius: 1rem;
    background-color: $color-white;
    position: relative;
    height: 270px;
    color: $color-black-blue;

    .chart {
      margin: -20px auto;

      .recharts-wrapper {
        padding-top: $space-XS;
        height: 200px !important;
        border-radius: 1rem;
        box-sizing: border-box !important;
      }
    }

    .website-view-chart {
      @extend .chart;
      .recharts-wrapper {
        background: linear-gradient(
          195deg,
          rgb(73, 163, 241),
          rgb(26, 115, 232)
        );
        box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem,
          rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
      }
    }

    .user-count-chart {
      @extend .chart;

      .recharts-wrapper {
        background: linear-gradient(
          195deg,
          rgb(102, 187, 106),
          rgb(67, 160, 71)
        );
        box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem,
          rgb(76 175 79 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
      }
    }

    .chart-info {
      width: 90%;
      margin: 0 auto;

      .title {
        @extend .font--16sb;
      }

      .description {
        @extend .font--14;
        color: $color-sub-black;

        span {
          font-weight: 600 !important;
        }
      }
    }
  }
}
