@import './common.scss';

.nav-button {
  @extend .nav-element;
  @extend .font--14sb;
}

.nav-button--menu-list {
  button {
    @extend .nav-button;

    .MuiButton-endIcon {
      margin-left: 4px;
      transform-style: preserve-3d;
      transition: 0.2s;
    }

    .MuiButton-endIcon > *:nth-of-type(1) {
      font-size: $space-S;
    }
  }
}

.nav-button--menu-list:hover {
  button {
    @extend .hover-element;
  }

  .MuiButton-endIcon {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(-180deg) skew(0deg, 0deg);
  }
}

.onc-button {
  @extend .font--15sb;
  background-color: $color-button !important;

  &.--no-transform {
    text-transform: none !important;
  }

  &.--width-100 {
    width: 100%;
  }
}

.onc-button:hover {
  background-color: $color-button-hover !important;
}
