.nav-element {
  color: $color-black !important;
  text-transform: none !important;
}

.hover-element {
  color: $color-button !important;
  background-color: $color-brand-light-blue !important;
}

.nav-element:hover {
  @extend .hover-element;
}
