.nav-element {
  color: $color-black !important;
  text-transform: none !important;
}

.hover-element {
  color: $color-button !important;
  background-color: $color-brand-light-blue !important;
}

.nav-element:hover {
  @extend .hover-element;
}

//Custom width layout
.MuiContainer-root {
  @media only screen and (min-width: $min-width-screen-xl) {
    max-width: $max-width-container !important;
  }
}

.hint-text {
  @extend .font--12-8;
  font-size: 0.8rem;
  color: $color-sub-black;
}

.require-field {
  &::after {
    content: '*';
    margin-left: 1px;
    color: $color-error;
  }
}
