.onc-text-field {
  input {
    height: 0.94rem;
  }

  .MuiFormHelperText-root {
    @extend .font--12-8;
    margin-left: 0px;
  }

  &.--width-100 {
    width: 100%;
  }
}

.labelAsterisk {
  color: $color-error !important;
}
